In [69]:
import pandas as pd
import numpy as np

In [70]:
# reading first interval peak data
first_interval_peaks=pd.read_csv('first_interval_peaks.csv')

In [71]:
first_interval_peaks.head()

             0            1            2            3  ...  2096  2097  2098  2099
0  2295.835256  2295.825631  2295.787559  2295.721146  ...   NaN   NaN   NaN   NaN
1  2032.184944  2032.183809  2032.179923  2032.173293  ...   NaN   NaN   NaN   NaN
2  2039.278795  2039.275898  2039.270052  2039.261257  ...   NaN   NaN   NaN   NaN
3  2088.693675  2088.692026  2088.686638  2088.677519  ...   NaN   NaN   NaN   NaN
4  2048.847053  2048.845220  2048.841250  2048.835148  ...   NaN   NaN   NaN   NaN

[5 rows x 2100 columns]

In [72]:

currmax=-float('inf')# storing the maximum amplitude of a signal
currmaxrow=0 #Storing the row of the maximum amplitude
for i in range(len(first_interval_peaks)):
  rowmax=max(first_interval_peaks.loc[i])
  if rowmax>currmax:
    currmax=rowmax
    currmaxrow=first_interval_peaks.loc[i]
print(currmax,currmaxrow)

3221.511536524812 0       3146.494409
1       3146.491141
2       3146.456587
3       3146.390834
4       3146.293969
           ...
2095            NaN
2096            NaN
2097            NaN
2098            NaN
2099            NaN
Name: 209, Length: 2100, dtype: float64

In [73]:
amp_max=pd.DataFrame(currmaxrow)#Creating a dataframe for the maxamplitude signal

In [74]:
sum(amp_max.isnull().sum(axis=1))#Checking the count of null values

1275

In [75]:
num_not_null_values=len(amp_max)-sum(amp_max.isnull().sum(axis=1))#Count of not null values
num_not_null_values

825

In [76]:
maxnotnull=num_not_null_values #Storing the not noll values count in the maxnotnull variable

In [77]:
# reading second interval peak data
second_interval_peaks=pd.read_csv('second_interval_peaks.csv')

In [78]:
second_interval_peaks.head()

             0            1            2            3  ...  2096  2097  2098  2099
0  2121.041993  2121.039133  2121.027658  2121.007592  ...   NaN   NaN   NaN   NaN
1  2049.787646  2049.787067  2049.783485  2049.776900  ...   NaN   NaN   NaN   NaN
2  2061.844720  2061.842106  2061.836720  2061.828575  ...   NaN   NaN   NaN   NaN
3  2042.065481  2042.062565  2042.056453  2042.047158  ...   NaN   NaN   NaN   NaN
4  2025.112424  2025.111561  2025.108379  2025.102883  ...   NaN   NaN   NaN   NaN

[5 rows x 2100 columns]

In [79]:
currmax=-float('inf')# storing the maximum amplitude of a signal
currmaxrow=0 #Storing the row of the maximum amplitude
for i in range(len(second_interval_peaks)):
  rowmax=max(second_interval_peaks.loc[i])
  if rowmax>currmax:
    currmax=rowmax
    currmaxrow=second_interval_peaks.loc[i]
print(currmax,currmaxrow)

3379.4391324442495 0       3379.439132
1       3379.296328
2       3378.998189
3       3378.545412
4       3377.938751
           ...
2095            NaN
2096            NaN
2097            NaN
2098            NaN
2099            NaN
Name: 213, Length: 2100, dtype: float64

In [80]:
amp_max=pd.DataFrame(currmaxrow)#Creating a dataframe for the maxamplitude signal

In [81]:
sum(amp_max.isnull().sum(axis=1))#Checking the count of null values

1860

In [82]:
num_not_null_values=len(amp_max)-sum(amp_max.isnull().sum(axis=1))#Count of not null values
num_not_null_values

240

In [83]:
maxnotnull=max(maxnotnull,num_not_null_values)# updating the max count of not null values

In [84]:
# reading third interval peak data
third_interval_peaks=pd.read_csv('third_interval_peaks.csv')

In [85]:
third_interval_peaks.head()

             0            1            2            3  ...  2096  2097  2098  2099
0  2150.514680  2150.509156  2150.494998  2150.472237  ...   NaN   NaN   NaN   NaN
1  2043.055712  2043.054264  2043.050179  2043.043461  ...   NaN   NaN   NaN   NaN
2  2075.394355  2075.393189  2075.389657  2075.383765  ...   NaN   NaN   NaN   NaN
3  2055.592002  2055.591716  2055.588056  2055.581030  ...   NaN   NaN   NaN   NaN
4  2043.651408  2043.648838  2043.643606  2043.635715  ...   NaN   NaN   NaN   NaN

[5 rows x 2100 columns]

In [86]:
currmax=-float('inf') #storing the maximum amplitude of a signal
currmaxrow=0 #Storing the row of the maximum amplitude
for i in range(len(third_interval_peaks)):
  rowmax=max(third_interval_peaks.loc[i])
  if rowmax>currmax:
    currmax=rowmax
    currmaxrow=third_interval_peaks.loc[i]
print(currmax,currmaxrow)

3075.913417238756 0       3075.913417
1       3075.912589
2       3075.883442
3       3075.826056
4       3075.740511
           ...
2095            NaN
2096            NaN
2097            NaN
2098            NaN
2099            NaN
Name: 211, Length: 2100, dtype: float64

In [87]:
amp_max=pd.DataFrame(currmaxrow)#Creating a dataframe for the maxamplitude signal

In [88]:
sum(amp_max.isnull().sum(axis=1))#Checking the count of null values

1259

In [89]:
num_not_null_values=len(amp_max)-sum(amp_max.isnull().sum(axis=1))#Count of not null values
num_not_null_values

841

In [90]:
maxnotnull=max(maxnotnull,num_not_null_values)# updating the max count of not null values

In [91]:
maxnotnull

841

In [92]:
#Making the intervals length equal to maxnotnull 
first_interval_peaks=first_interval_peaks.iloc[:,:maxnotnull]
second_interval_peaks=second_interval_peaks.iloc[:,:maxnotnull]
third_interval_peaks=second_interval_peaks.iloc[:,:maxnotnull]

In [93]:
first_interval_peaks.head()

             0            1            2            3  ...  837  838  839  840
0  2295.835256  2295.825631  2295.787559  2295.721146  ...  NaN  NaN  NaN  NaN
1  2032.184944  2032.183809  2032.179923  2032.173293  ...  NaN  NaN  NaN  NaN
2  2039.278795  2039.275898  2039.270052  2039.261257  ...  NaN  NaN  NaN  NaN
3  2088.693675  2088.692026  2088.686638  2088.677519  ...  NaN  NaN  NaN  NaN
4  2048.847053  2048.845220  2048.841250  2048.835148  ...  NaN  NaN  NaN  NaN

[5 rows x 841 columns]

In [94]:
second_interval_peaks.head()

             0            1            2            3  ...  837  838  839  840
0  2121.041993  2121.039133  2121.027658  2121.007592  ...  NaN  NaN  NaN  NaN
1  2049.787646  2049.787067  2049.783485  2049.776900  ...  NaN  NaN  NaN  NaN
2  2061.844720  2061.842106  2061.836720  2061.828575  ...  NaN  NaN  NaN  NaN
3  2042.065481  2042.062565  2042.056453  2042.047158  ...  NaN  NaN  NaN  NaN
4  2025.112424  2025.111561  2025.108379  2025.102883  ...  NaN  NaN  NaN  NaN

[5 rows x 841 columns]

In [95]:
third_interval_peaks.head()

             0            1            2            3  ...  837  838  839  840
0  2121.041993  2121.039133  2121.027658  2121.007592  ...  NaN  NaN  NaN  NaN
1  2049.787646  2049.787067  2049.783485  2049.776900  ...  NaN  NaN  NaN  NaN
2  2061.844720  2061.842106  2061.836720  2061.828575  ...  NaN  NaN  NaN  NaN
3  2042.065481  2042.062565  2042.056453  2042.047158  ...  NaN  NaN  NaN  NaN
4  2025.112424  2025.111561  2025.108379  2025.102883  ...  NaN  NaN  NaN  NaN

[5 rows x 841 columns]

In [96]:
first_interval_peaks=first_interval_peaks.fillna(0)

In [97]:
second_interval_peaks=second_interval_peaks.fillna(0)

In [98]:
third_interval_peaks=third_interval_peaks.fillna(0)

In [99]:
first_interval_peaks.head()

             0            1            2            3  ...  837  838  839  840
0  2295.835256  2295.825631  2295.787559  2295.721146  ...  0.0  0.0  0.0  0.0
1  2032.184944  2032.183809  2032.179923  2032.173293  ...  0.0  0.0  0.0  0.0
2  2039.278795  2039.275898  2039.270052  2039.261257  ...  0.0  0.0  0.0  0.0
3  2088.693675  2088.692026  2088.686638  2088.677519  ...  0.0  0.0  0.0  0.0
4  2048.847053  2048.845220  2048.841250  2048.835148  ...  0.0  0.0  0.0  0.0

[5 rows x 841 columns]

In [100]:
second_interval_peaks.head()

             0            1            2            3  ...  837  838  839  840
0  2121.041993  2121.039133  2121.027658  2121.007592  ...  0.0  0.0  0.0  0.0
1  2049.787646  2049.787067  2049.783485  2049.776900  ...  0.0  0.0  0.0  0.0
2  2061.844720  2061.842106  2061.836720  2061.828575  ...  0.0  0.0  0.0  0.0
3  2042.065481  2042.062565  2042.056453  2042.047158  ...  0.0  0.0  0.0  0.0
4  2025.112424  2025.111561  2025.108379  2025.102883  ...  0.0  0.0  0.0  0.0

[5 rows x 841 columns]

In [101]:
third_interval_peaks.head()

             0            1            2            3  ...  837  838  839  840
0  2121.041993  2121.039133  2121.027658  2121.007592  ...  0.0  0.0  0.0  0.0
1  2049.787646  2049.787067  2049.783485  2049.776900  ...  0.0  0.0  0.0  0.0
2  2061.844720  2061.842106  2061.836720  2061.828575  ...  0.0  0.0  0.0  0.0
3  2042.065481  2042.062565  2042.056453  2042.047158  ...  0.0  0.0  0.0  0.0
4  2025.112424  2025.111561  2025.108379  2025.102883  ...  0.0  0.0  0.0  0.0

[5 rows x 841 columns]

In [102]:
fixed_length_features=pd.concat([first_interval_peaks,second_interval_peaks,third_interval_peaks])#Concatenating all the three peak signal dataframes

In [103]:
fixed_length_features.head()

             0            1            2            3  ...  837  838  839  840
0  2295.835256  2295.825631  2295.787559  2295.721146  ...  0.0  0.0  0.0  0.0
1  2032.184944  2032.183809  2032.179923  2032.173293  ...  0.0  0.0  0.0  0.0
2  2039.278795  2039.275898  2039.270052  2039.261257  ...  0.0  0.0  0.0  0.0
3  2088.693675  2088.692026  2088.686638  2088.677519  ...  0.0  0.0  0.0  0.0
4  2048.847053  2048.845220  2048.841250  2048.835148  ...  0.0  0.0  0.0  0.0

[5 rows x 841 columns]

In [104]:
len(fixed_length_features)

657

In [105]:
fixed_length_features.to_csv('fixed_length_features.csv')